{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env"
    ],
    "@babel/preset-stage-1",
    "react-app"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": true,
        "moduleName": "@babel/runtime"
      }
    ]
  ],
  "test": {
    "presets": [
      "@babel/preset-env",
      "@babel/preset-react"
    ],
    "plugins": [
      "transform-export-extensions",
      "transform-es2015-modules-commonjs"
    ]
  }
}